name: Build example

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build example
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - uses: bluefireteam/flutter-gh-pages@v8
        with:
          workingDir: example
          webRenderer: canvaskit
          baseHref: /flutter_map_animations/
